body {
    font-family: "Montserrat", sans-serif;
    background: #f5f7fa;
    min-width: 230mm;
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 47px;
    margin-left: 40px;
    color: #ffffff;
}

aside {
    background-color: #5a81bb;
    min-width: 370px;
    min-height: 297mm;
}

main {
    padding: 102px 88px;
    min-height: 297mm;
}

ol.list-primary {
    max-width: 50em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}
ol.list-primary li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . ";
}
ol.list-primary span:first-child {
    padding-right: 0.33em;
    background: #ffffff;
}
ol.list-primary span + span {
    float: right;
    padding-left: 0.33em;
    background: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    min-width: 210mm;
    min-height: 297mm;
    margin: 20px auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px 0px #0000001a;
}

.cv-photo {
    margin-top: 25px;
}

.header-secondary {
    color: #ffffff;
}

.contact-links {
    color: #dddddd;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

.list-secondary {
    color: #fb6d3a;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.list-secondary-item {
    color: #ffffff;
}

.contact-block {
    margin-top: 51px;
    margin-left: 40px;
}

.skills-block {
    margin-top: 47px;
    margin-left: 40px;
}

.main-description {
    width: 400px;
    margin-bottom: 40px;
}

.job-tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #ffffff;
    margin-left: 40px;
}

.description {
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #595959;
}

.projects {
    min-width: 485px;
    margin-bottom: 51px;
}

.list-primary {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 0;
    list-style-position: inside;
}

.list-primary-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    text-overflow: ellipsis;
}

.header-primary {
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
}

.name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.highlight {
    color: #fb6d3a;
    font-weight: bold;
    font-size: 14px;
}

.date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

.job-list {
    padding-left: 0;
    list-style-position: inside;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.field-of-study {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.icon {
    width: 16px;
    height: 16px;
}

.personal-details {
    padding-top: 7px;
}

.personal-details-item {
    color: #ffffff;
    font-weight: 600;
}
.footer-block {
    position: fixed;
    width: 100%;
    left: 4mm;
    right: 4mm;
    bottom: 4px;
    background-color: white;
    color: rgb(82, 81, 81);
    text-align: center;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .main-page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
